body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  font-family: Arial, sans-serif;
}

.container {
  border: 2px solid #ffffff;
  padding: 40px;
  width: 350px;
  text-align: center;
  border-radius: 14px;
  background-color: #2b2a2a;
}

.title {
  font-size: 1.6rem;
  color: bisque;
  margin-bottom: 20px;
}

.count {
  font-size: 1.4rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

button {
  width: 120px;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}

button:first-child {
  background-color: #e74c3c;
}

button:last-child {
  background-color: #2ecc71;
}
